@import '../../scss/breakpoints';

.box {
  display: flex;
  flex-shrink: 0;
  height: 231px;
  flex-basis: 45%;
  min-width: 320px;
  padding: 1%;
  margin-left: 2%;
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

  .img {
    width: 154px;
    height: 231px;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .movieInfo {
    margin-left: 10px;
    flex-grow: 1;
    overflow-y: hidden;
    
    .titleWrapper {
      display: flex;

      .title {
        font-size: 16px;
        flex-grow: 1;
      }

      .favorite {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        flex-shrink: 0;
        &.solid {
          background-image: url('./imgs/heart-solid.svg');
        }
    
        &.empty {
          background-image: url('./imgs/heart-regular.svg');
        }
      }

    }

    .ratingWrapper {
      text-align: left;
      font-weight: 600;
      .rating {
        margin: 0 10px;
        &.lowRating {
          color: rgb(185, 74, 46);
        }
        &.normalRating {
          color: rgb(194, 154, 45);
        }
        &.goodRating {
          color: rgb(24, 160, 24);
        }
      }

      .voteCount {
        font-weight: normal;
        margin-left: 5px;
      }
    }

    .overview {
      font-size: 14px;
      text-align: left;
      margin-top: 10px;
      word-wrap: normal;
      overflow-y: scroll;
    }
  }

}


@media only screen and (max-width: $breakpoint-mobile) {

  .box {
    flex-basis: 100%;
  }
}
