.box {
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  margin-right: 10px;
  height: 51.75px;
  width: 150px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

  .img {
    width: 34.5px;
    height: 51.75px;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .movieInfo {
    padding:  5px  0;
    flex-grow: 1;
    
    .titleWrapper {
      display: flex;

      .title {
        flex-grow: 1;
        font-size: 10px;
      }

      .removeBtn {
        flex-shrink: 0;
        width: 15px;
        height: 15px;
        margin-left: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        flex-shrink: 0;
        background-image: url('./imgs/times-solid.svg');
      }
    }
  }

}

